VITE_API_URL=https://costcontrol-backend.onrender.com/api
VITE_APP_TITLE=Sistema de Control de Costos

# Variables para SSO con UTAssets
VITE_UTASSETS_URL=https://glassfaser-utk.de/utassets/sso-redirect
VITE_COSTCONTROL_URL=https://tu-dominio.com/costcontrol 